.negrita {
    font-weight: bolder;
}

.subrayado {
    text-decoration-line: underline;
}

.cursiva {
    font-style: oblique;
}

.mayusculas {
    text-transform: uppercase;
}

.alineadoCentrado {
    text-align: center;
}

.letraMobile {
    font-size: 14px;
}

.alineadoIzquierda {
    text-align: start;
}

.texto18px {
    font-size: 18px;
}

.texto20px {
    font-size: 20px;
}

.texto22px {
    font-size: 22px;
}
