@font-face {
    src: url(../fonts/Almanak.otf);
    font-family: Alma;
}

@font-face {
    src: url(../fonts/MONTSERRAT-EXTRALIGHT.OTF);
    font-family: mons;
}

.letraAlma {
    font-family: Alma;
}

.letraMons {
    font-family: mons;
}

.noMarginNoPadding {
    padding: 0;
    margin: 0;
}
