@font-face {
    src: url(../fonts/Almanak.otf);
    font-family: Alma;
}

@font-face {
    src: url(../fonts/MONTSERRAT-EXTRALIGHT.OTF);
    font-family: mons;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.letraAlma {
    font-family: Alma;
}

.letraMons {
    font-family: mons;
}

.letraRoboto {
    font-family: "Roboto";
    font-weight: 100;
}
