// EL ARCHIVO DE ESTILOS SE ENCUENTRA ORDENADO
// DE LA SIGUIENTE MANERA

// 1 ESTILOS IMPORTADOS
// 2 VARIABLES
// 3 PROPIEDADES POR ETIQUETAS
// 4 PROPIEDADES POR CLASES
// 5 PROPIEDADES POR CLASES CREADAS SEGUN SECCION
// 6 MEDIA QUERIES MIN-WIDTH
// 7 MEDIA QUERIES MAX-WIDTH

// SE UTILIZO CAMELCASE PARA EL NOMBRE DE IDS Y CLASES

// IMPORTS

@import "_tipografia.scss";
@import "_estilosTextos.scss";

/*VARIABLES*/

$color-rosa-principal: #f8d7c8;
$color-rosa-oscuro: #dfc1c1;
$color-gris: #2d2d2d;

/* PROPIEDADES POR ETIQUETAS*/

* {
    margin: 0px;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: mons;
    font-size: 16px;
    line-height: 18px;
    background-color: $color-rosa-principal;
    background-attachment: fixed;

    overflow: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

textarea,
input,
select {
    font-family: mons;
    font-size: 16px;
    background-color: #dccac2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Mons;
    font-size: 30px;
    font-weight: bolder;

    line-height: 40px;
    text-transform: capitalize;

    letter-spacing: 0.4ex;

    text-align: center;

    padding-bottom: 20px;
    padding-top: 20px;
}

nav {
    width: 100%;
    height: 75px;

    background: linear-gradient(180deg, rgba(223, 193, 193, 1) 5%, rgba(248, 217, 203, 1) 10%);
    margin-bottom: 50px;

    border-bottom: 0.5px black;
    z-index: 1;
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.3);

    animation-name: efecto_nav;
    animation-duration: 1s;
    animation-timing-function: linear;
}

footer {
    width: 100%;

    color: #645555;
    background: rgb(248, 217, 203);
    background: linear-gradient(180deg, rgba(248, 217, 203, 1) 5%, rgb(214, 186, 186) 70%);

    margin-top: 70px;
    padding-bottom: 1px;

    p {
        font-size: 14px;
        font-family: mons;
        text-align: left;
    }

    i {
        padding: 0 10px;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .col-4 {
            padding-bottom: 30px;
        }
    }

    .flexRowIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            padding: 0px 10px;
        }
    }

    #copyright {
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;

        color: $color-gris;
        padding-top: 50px;
    }

    .fa-mobile {
        padding-left: 13px;
    }

    a {
        text-decoration: none;
        color: #645555;
    }

    a:hover {
        color: black;
    }
}

@keyframes efecto_nav {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

// CLASES

.colorRosaOscuro {
    color: #5f4e4e;
}

.colorRosa {
    color: $color-rosa-principal;
}

.colorRosaMasOscuro {
    color: #9b8585;
}

.fondoRosaOscuro {
    background-color: $color-rosa-oscuro;
}

.fondoGris {
    background-color: $color-gris;
}

.fondos-index {
    height: 95vh;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    margin-top: 75px;
}

.fondos-index__1 {
    background-image: url(../images/fotos/Index/Portada1marquise.JPG);
}

.fondos-index__2 {
    background-image: url(../images/fotos/Index/MarquiseOreo-min.JPG);
}

.fondos-index__3 {
    background-image: url(../images/fotos/Index/MarquiseMaracuya.JPG);
}

.fondos-index__4 {
    background-image: url(/images/fotos/Index/Tropical.JPG);
}

.fondos-index__5 {
    background-image: url(../images/fotos/Index/PortaFrutilla.JPG);
}

// NAV

.fixedNav {
    width: 100%;
    height: 75px;
    position: fixed;

    border-bottom: 0.5px black;
    z-index: 100;
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.3);
}

.ulNav {
    height: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    li {
        width: 20%;
        text-align: center;
        list-style: none;
        font-family: mons;
        font-size: 20px;
        color: black;
    }

    a {
        padding-left: 3px;
        text-decoration: none;
        color: $color-gris;
        text-align: center;
        transition: 0.5s;
    }

    a:hover {
        font-weight: 900;
        font-size: 22px;

        background-color: $color-gris;
        color: $color-rosa-principal;

        border-radius: 10px 10px 10px 10px;
        padding: 10px;
    }
}

.boton-menu {
    background-color: none;
}

.dropdown {
    padding-top: 18.5px;
    padding-left: 30px;
}

.dropdown-menu {
    background: rgb(248, 215, 200);
    background: linear-gradient(153deg, rgba(248, 215, 200, 1) 30%, rgba(223, 193, 193, 1) 83%);

    margin: 0;
    padding: 0;
}

.dropdown-item {
    margin: 0;
    padding: 1em;
    padding-top: 18px;
    line-height: 1px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    a {
        height: 24px;
        padding-top: 10px;
    }

    i {
        height: 24px;
        padding-right: 10px;
    }
}

.logo {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border: solid $color-rosa-principal;
}

.logoMediaQueries {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    border: solid $color-rosa-principal;
}

.box-derecha {
    width: 80%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    background-color: $color-gris;
    color: $color-rosa-principal;

    border-radius: 46px 46px 46px 46px;
}

.box-izquierda {
    width: 80%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: $color-gris;

    border-radius: 46px 46px 46px 46px;
}

.box-derecha__imagen,
.box-izquierda__imagen {
    width: 50%;
    img {
        width: 85%;
        border-radius: 10%;
        margin: 5%;
    }
}

.box-derecha__texto,
.box-izquierda__texto {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    width: 50%;
    padding: 30px;
    margin: 0px 15px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

//CARTAS//

.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 600px;
    margin: 0 auto;
}

.carta__imagenes {
    border-radius: 5%;
    margin-bottom: 20px;
    width: 100%;
}

//GOOGLE MAPS

#GoogleMaps {
    background-color: $color-gris;
    border-radius: 10%;
    color: $color-rosa-principal;
    padding: 20px;
}

#iframeGoogleMaps {
    display: block;
    margin: auto;
    width: 80%;
    height: 500px;

    margin-bottom: 30px;
    border-radius: 30px;
}

.logoWsp {
    width: 2em;
    height: auto;

    position: fixed;
    left: 90%;
    bottom: 10%;

    animation-timing-function: linear;
    z-index: 2;
}

.slogan {
    font-family: Alma;
    font-size: 20px;

    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    letter-spacing: 0.5px;
    word-spacing: normal;

    margin-top: 10px;

    position: absolute;
    z-index: 1;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    animation-name: efecto_nav;
    animation-duration: 3s;
}

// SECCION CATALOGO

#flechaCatalogo {
    z-index: 3;
    position: fixed;
    top: 88%;
    left: 95%;

    padding: 5px;
    color: $color-gris;
    background-color: $color-rosa-oscuro;
    border-radius: 50px 50px 50px 50px;
    transform: scale(2);

    border: solid 0.5px $color-gris;

    .fa-arrow-up {
        color: $color-gris;
    }
}

#descripcionCatalogo {
    padding: 0px 20px 20px;
    height: 80vh;
    p {
        font-size: 20px;
        line-height: 22px;
    }
}

.indiceCatalogo {
    background-color: $color-rosa-oscuro;
    border-radius: 45px 45px 45px 45px;

    padding-top: 10px;
    list-style: none;
    width: auto;

    li {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;

        margin: 20px;
        padding: 20px;

        border-radius: 10px 10px 10px 10px;
    }

    a {
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }

    a:hover {
        font-weight: 900;
        font-size: 18px;

        padding: 5px;

        color: $color-rosa-principal;
        background-color: $color-gris;
        border-radius: 10px 10px 10px 10px;

        transition-timing-function: ease;
    }
}

.flexCatalogo,
.flexCatalogoFinal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    background: rgb(248, 215, 200);
    background: linear-gradient(
        180deg,
        rgba(248, 215, 200, 1) 19%,
        rgba(223, 193, 193, 1) 50%,
        rgba(248, 215, 200, 1) 79%
    );

    p {
        width: auto;
    }

    .padding {
        padding: 10px;
    }

    .bordesRedondeados {
        border-radius: 10px 10px 10px 10px;
    }
}

.boxFlexCatalogo,
.boxFlexCatalogoTextoAbajo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenesCatalogo {
    padding: 10px 0px;
    border-radius: 45px 45px 45px 45px;
}

.flexCatalogoFinal {
    margin-bottom: 40px;
}

.noMarginNoPadding {
    padding: 0;
    margin: 0;
}

// SECCION HACE TU PEDIDO

.bigicon,
.fa-location-arrow,
.fa-crown,
.fa-plus-square,
.fa-birthday-cake,
.fa-hippo,
.fa-candy-cane {
    color: #af9898;
    padding-bottom: 5px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marginTop {
    margin-top: 10px;
}

.logoMate {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

// SECCION NUESTRA HISTORIA

.imagenNuestraHistoria {
    width: 100%;
    height: auto;
}

.textoNuestraHistoria {
    p {
        padding: 5px;
    }
}

.footerNuestraHistoria {
    @extend footer;
    margin-top: 80px;
}

// SECCION INFORMACION

//Encabezado de Seccion

.informacionUtil {
    p {
        font-size: 18px;
        line-height: 20px;
        text-align: center;

        padding: 5px 0px;
    }
}

.centerBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//Contenedores de preguntas y respuestas para Mobile

.contenedorInfo {
    width: 80%;

    text-align: center;

    margin: 10px 0px;
    background-color: $color-rosa-oscuro;
    border-radius: 5%;
    border: solid 0.5px $color-gris;

    .contenedorInfo__titulo {
        @extend .negrita;

        font-size: 18px;

        padding: 10px 0px;
    }

    .contenedorInfo__pregunta {
        @extend .negrita;

        font-size: 18px;

        background-color: $color-rosa-principal;
        padding: 10px 0px;
    }

    .contenedorInfo__respuesta {
        padding: 10px 0px;
    }
}

#tablaInfoDesktop {
    background: rgb(248, 215, 200);
    background: linear-gradient(
        180deg,
        rgba(248, 215, 200, 1) 0%,
        rgba(223, 193, 193, 1) 42%,
        rgba(226, 195, 194, 1) 66%,
        rgba(248, 215, 200, 1) 100%
    );
}

.contenedor__ImgInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

    .imagenInfo {
        border-radius: 50px 50px 50px 50px;
        margin-bottom: 20px;
        width: 100%;
    }
}

//
//
//
//
//

// MEDIAS QUERIES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #tablaInfoMobile {
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #navMobile {
        display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .imagenesCatalogo {
        width: 790px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #descripcionCatalogo {
        p {
            margin-bottom: 50px;
        }
    }

    .boxFlexCatalogo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .boxFlexCatalogoTextoAbajo {
            width: 31%;
        }

        .imagenesCatalogo {
            width: 100%;
        }
    }
}

/* MEDIA QUERIES MAX */

@media (max-width: 1199px) {
    .box-mobile {
        width: 768px;
        height: auto;
        padding-bottom: 30px;

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        background-color: $color-gris;
        color: $color-rosa-principal;

        border-radius: 10%;
    }

    .box-mobile__imagen {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
            border-radius: 46px 46px 46px 46px;
            margin-bottom: 10%;
            margin: 0;
        }
    }

    .box-mobile__texto {
        width: 100%;
        padding: 20px 0px;
        line-height: 25px;
        font-size: 20px;
        margin: 0px 15px;
        text-align: center;
    }

    .ulNav a:hover {
        font-weight: 900;
        background-color: $color-gris;
        transition: 0.5s;
        color: $color-rosa-principal;
        padding: 5px;
        border-radius: 10px 10px 10px 10px;
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .ulNav {
        li {
            font-size: 16px;
        }
        a:hover {
            font-size: 16px;
            padding: 5px;
        }
    }

    footer {
        .col-4 {
            max-width: 100%;
        }

        .flexRow {
            flex-direction: column;
            align-items: center;
        }

        p {
            text-align: center;
        }

        .flexRowIcons {
            justify-content: center;
        }
    }

    #descripcionCatalogo {
        p {
            font-size: 16px;
        }
    }

    .indiceCatalogo {
        li {
            font-size: 14px;
        }

        a:hover {
            font-size: 14px;
        }
    }

    .imagenesCatalogo {
        width: 80%;
    }

    #flechaCatalogo {
        left: 85%;

        transform: scale(1);
    }

    .logoWsp {
        left: 85%;
    }
}

@media (max-width: 767px) {
    #navDesktop {
        display: none;
    }
    #navMobile {
        p {
            text-align: center;
            font-family: mons;
            font-size: 12px;
            line-height: 38px;
            letter-spacing: 0;

            position: absolute;
            top: 18.5px;
            left: 68%;
        }
    }

    .box-mobile {
        width: 90%;

        padding-bottom: 30px;

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        background-color: $color-gris;
        color: $color-rosa-principal;

        border-radius: 10%;
    }

    .indiceCatalogo {
        a:hover {
            background: none;
            color: white;
            font-size: 14px;

            padding: 0;
            margin: 0;
        }
    }
}

@media (max-width: 575px) {
    #tablaInfoDesktop {
        display: none;
    }
    #slogan {
        display: none;
    }

    .descripcionCatalogo {
        margin-bottom: 10px;
    }

    .indiceCatalogo {
        li {
            font-size: 12px;
            margin: 15px;
            padding: 5px;
        }

        a:hover {
            padding: 0;
            font-size: 12px;

            background-color: $color-rosa-oscuro;
            color: black;
        }
    }

    .imagenesCatalogo {
        width: 90%;
    }

    #tituloCatalogo {
        width: 90%;
    }

    .fondos-index {
        margin-top: 30px;
    }

    .logoMate {
        width: 12px;
        height: 12px;
        margin-bottom: 5px;
    }
}
