/* IMPORTS */
@font-face {
  src: url(../fonts/Almanak.otf);
  font-family: Alma;
}

@font-face {
  src: url(../fonts/MONTSERRAT-EXTRALIGHT.OTF);
  font-family: mons;
}

.letraAlma {
  font-family: Alma;
}

.letraMons {
  font-family: mons;
}

.noMarginNoPadding {
  padding: 0;
  margin: 0;
}

.negrita, .cartaInfo .cartaInfo__titulo {
  font-weight: bolder;
}

.subrayado {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.cursiva {
  font-style: oblique;
}

.centrado {
  text-align: center;
}

.mayusculas {
  text-transform: uppercase;
}

.alineadoCentrado {
  text-align: center;
}

.letraMobile {
  font-size: 14px;
}

.alineadoIzquierda {
  text-align: start;
}

.text20px {
  font-size: 20px;
}

/*VARIABLES*/
.bigicon,
.fa-location-arrow,
.fa-crown,
.fa-plus-square,
.fa-birthday-cake,
.fa-hippo,
.fa-candy-cane {
  color: #af9898;
  padding-bottom: 5px;
}

.colorRosaOscuro {
  color: #5f4e4e;
}

.boton-envio {
  background-color: #dfc1c1;
}

.boton-cancelar {
  background-color: red;
}

/* PROPIEDADES POR ETIQUETAS*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: mons;
  font-size: 16px;
  line-height: 18px;
  background-color: #f8d7c8;
  background-attachment: fixed;
  overflow: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

textarea,
input,
select {
  font-family: mons;
  font-size: 16px;
  background-color: #dccac2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mons;
  font-size: 30px;
  font-weight: bolder;
  line-height: 40px;
  text-transform: capitalize;
  letter-spacing: 0.4ex;
  text-align: center;
  padding-bottom: 20px;
}

nav {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dfc1c1), color-stop(10%, #f8d9cb));
  background: linear-gradient(180deg, #dfc1c1 5%, #f8d9cb 10%);
  width: 100%;
  height: 75px;
  margin-bottom: 50px;
  border-bottom: 0.5px black;
  z-index: 1;
  -webkit-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.3);
  -webkit-animation-name: efecto_nav;
          animation-name: efecto_nav;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

footer, .footerNuestraHistoria {
  width: 100%;
  color: #645555;
  background: #f8d9cb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f8d9cb), color-stop(70%, #d6baba));
  background: linear-gradient(180deg, #f8d9cb 5%, #d6baba 70%);
  margin-top: 70px;
  padding-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p, .footerNuestraHistoria p {
  font-family: mons;
  text-align: left;
  font-size: 14px;
}

footer i, .footerNuestraHistoria i {
  padding: 0 10px;
}

footer .fa-mobile, .footerNuestraHistoria .fa-mobile {
  padding-left: 13px;
}

footer #copyright, .footerNuestraHistoria #copyright {
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
}

footer a, .footerNuestraHistoria a {
  text-decoration: none;
  color: #645555;
}

footer a:hover, .footerNuestraHistoria a:hover {
  color: black;
}

footer .flexRow, .footerNuestraHistoria .flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .flexRow .col-4, .footerNuestraHistoria .flexRow .col-4 {
  padding-bottom: 30px;
}

footer .flexRowIcons, .footerNuestraHistoria .flexRowIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .flexRowIcons i, .footerNuestraHistoria .flexRowIcons i {
  padding: 0px 10px;
}

footer .flexColumn, .footerNuestraHistoria .flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* CLASES */
.fondos-index {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 75px;
}

.fondos-index__1 {
  background-image: url(../images/portadarogelcomp.jpg);
}

.fondos-index__2 {
  background-image: url(../images/fotos/tarta1.JPG);
}

.fondos-index__3 {
  background-image: url(../images/fotos/marquise.JPG);
}

@-webkit-keyframes efecto_nav {
  0% {
    opacity: 0%;
  }
  /* 25% {
        opacity: 25%;
    } */
  50% {
    opacity: 50%;
  }
  /* 75% {
        opacity: 75%;
    } */
  100% {
    opacity: 100%;
  }
}

@keyframes efecto_nav {
  0% {
    opacity: 0%;
  }
  /* 25% {
        opacity: 25%;
    } */
  50% {
    opacity: 50%;
  }
  /* 75% {
        opacity: 75%;
    } */
  100% {
    opacity: 100%;
  }
}

.fixedNav {
  width: 100%;
  height: 75px;
  position: fixed;
  border-bottom: 0.5px black;
  z-index: 100;
  -webkit-box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.3);
}

.ulNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ulNav li {
  width: 20%;
  text-align: center;
  list-style: none;
  font-family: mons;
  font-size: 20px;
  color: black;
}

.ulNav a {
  padding-left: 3px;
  text-decoration: none;
  color: #2d2d2d;
  text-align: center;
}

.ulNav a:hover {
  font-weight: 900;
  background-color: #2d2d2d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #f8d7c8;
}

.boton-menu {
  background-color: none;
}

.dropdown {
  padding-top: 18.5px;
  padding-left: 30px;
}

.dropdown-menu {
  background: #f8d7c8;
  background: linear-gradient(153deg, #f8d7c8 30%, #dfc1c1 83%);
  margin: 0;
  padding: 0;
}

.dropdown-item {
  margin: 0;
  padding: 1em;
  padding-top: 18px;
  line-height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-item a {
  height: 24px;
  padding-top: 10px;
}

.dropdown-item i {
  height: 24px;
  padding-right: 10px;
}

/* BODY IMAGENES */
.logo {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border: solid #f8d7c8;
}

.imagenportada {
  width: 100%;
  display: block;
  margin: 0px;
  padding-top: 0px;
  position: absolute;
}

.box-derecha {
  width: 80%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d2d2d;
  color: #f8d7c8;
  border-radius: 46px 46px 46px 46px;
}

.box-izquierda {
  width: 80%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2d2d2d;
  border-radius: 46px 46px 46px 46px;
}

.box-derecha__imagen {
  width: 50%;
}

.box-derecha__imagen img {
  width: 85%;
  border-radius: 10%;
  margin: 5%;
}

.box-derecha__texto {
  width: 50%;
  padding: 30px;
  line-height: 25px;
  font-size: 20px;
  margin: 0px 15px;
  text-align: center;
}

.box-izquierda__imagen {
  width: 50%;
}

.box-izquierda__imagen img {
  width: 85%;
  border-radius: 10%;
  margin: 5%;
}

.box-izquierda__texto {
  width: 50%;
  padding: 30px;
  line-height: 25px;
  font-size: 20px;
  margin: 0px 15px;
  text-align: center;
}

.carta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.carta__imagenes {
  border-radius: 5%;
  margin-bottom: 20px;
  width: 100%;
}

#GoogleMaps {
  background-color: #2d2d2d;
  border-radius: 10%;
  color: #f8d7c8;
  padding: 20px;
}

#iframeGoogleMaps {
  display: block;
  margin: auto;
  width: 80%;
  height: 500px;
  margin-bottom: 30px;
  border-radius: 30px;
}

.logoWsp {
  width: 2em;
  height: auto;
  position: fixed;
  left: 85%;
  bottom: 15%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 2;
}

.logoInstFace {
  width: 40px;
  height: auto;
  display: block;
  margin: 10px;
  background: none;
}

#Redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

/*      CATALOGO GRID             */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  margin-bottom: 50px;
}

#catalogoGrid {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  width: 80%;
  height: 100%;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
      grid-template-areas: "nav foto foto foto" "nav foto1 foto2 foto3";
}

#navCatalogo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

#navCatalogo ol {
  text-transform: uppercase;
  list-style-type: none;
  font-weight: bolder;
}

#navCatalogo ol ul {
  line-height: 16px;
  font-weight: normal;
  list-style-type: none;
  text-transform: none;
  padding-left: 60px;
}

#fotoPrincipal {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: foto;
  background-image: url(../images/fotos/tarta1.JPG);
  background-size: cover;
  background-position: center;
}

#foto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto1;
  background-image: url(../images/fotos/coco.JPG);
  background-size: cover;
  background-position: center;
}

#foto2 {
  grid: foto2;
  background-image: url(../images/fotos/tarta2.JPG);
  background-size: cover;
  background-position: center;
}

#foto3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: foto3;
  background-image: url(../images/fotos/torta1.JPG);
  background-size: cover;
  background-position: center;
}

.centradoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* MEDIAS QUERIES */
@media (min-width: 576px) {
  #tablaInfoMobile {
    display: none;
  }
}

@media (min-width: 768px) {
  #navMobile {
    display: none;
  }
}

/* MEDIA QUERIES MAX */
@media (max-width: 1199px) {
  .box-mobile {
    width: 768px;
    height: auto;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2d2d2d;
    color: #f8d7c8;
    border-radius: 10%;
  }
  .box-mobile__imagen {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-mobile__imagen img {
    width: 90%;
    border-radius: 46px 46px 46px 46px;
    margin-bottom: 10%;
    margin: 0;
  }
  .box-mobile__texto {
    width: 100%;
    padding: 20px 0px;
    line-height: 25px;
    font-size: 20px;
    margin: 0px 15px;
    text-align: center;
  }
}

@media (max-width: 991px) {
  footer .col-4, .footerNuestraHistoria .col-4 {
    max-width: 100%;
  }
  footer .flexRow, .footerNuestraHistoria .flexRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p, .footerNuestraHistoria p {
    text-align: center;
  }
  footer .flexRowIcons, .footerNuestraHistoria .flexRowIcons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .box-mobile {
    width: 90%;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2d2d2d;
    color: #f8d7c8;
    border-radius: 10%;
  }
  #navDesktop {
    display: none;
  }
  #navMobile p {
    position: absolute;
    top: 18.5px;
    left: 68%;
    text-align: center;
    font-family: mons;
    font-size: 12px;
    line-height: 38px;
    letter-spacing: 0;
  }
  #bodyIndex {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  #tablaInfoDesktop {
    display: none;
  }
  #slogan {
    display: none;
  }
}

.logoMediaQueries {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
  border: solid #f8d7c8;
}

.imagenNuestraHistoria {
  width: 100%;
  height: auto;
}

.textoNuestraHistoria p {
  font-size: 16px;
  padding: 5px;
  line-height: 18px;
}

.footerNuestraHistoria {
  margin-top: 80px;
}

#informacionUtil p {
  font-size: 18px;
  line-height: 20px;
  padding: 5px 0px;
}

.fondoRosaOscuro {
  background-color: #dfc1c1;
}

.centerBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartaInfo {
  width: 80%;
  background-color: #dfc1c1;
  margin: 10px 0px;
  text-align: center;
  border-radius: 5%;
}

.cartaInfo .cartaInfo__titulo {
  padding: 10px 0px;
}

.cartaInfo .cartaInfo__pregunta {
  background-color: whitesmoke;
}

.cartaInfo .cartaInfo__respuesta {
  padding: 10px 0px;
}

.credit-card-div span {
  padding-top: 10px;
}

.credit-card-div img {
  padding-top: 30px;
}

.credit-card-div .small-font {
  font-size: 9px;
}

.credit-card-div .pad-adjust {
  padding-top: 10px;
}

.slogan {
  font-family: Alma;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  word-spacing: normal;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-animation-name: efecto_nav;
          animation-name: efecto_nav;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
/*# sourceMappingURL=Estilos.css.map */